-i https://pypi.org/simple
atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.6.3
coverage==4.5.2
django-webtest==1.9.4
django==2.0.9
freezegun==0.3.11
model-mommy==1.6.0
more-itertools==4.3.0
pluggy==0.8.0
py==1.7.0
pytest-cov==2.6.0
pytest-django==3.4.4
pytest-env==0.6.2
pytest==4.0.0
python-dateutil==2.7.5 ; python_version >= '2.7'
pytz==2018.7
six==1.11.0
waitress==1.1.0
webob==1.8.4
webtest==2.0.32
