{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Page Not Found" %}{% endblock %}
{% block header %}{% trans "Page Not Found" %}{% endblock %}
{% block content %}

<p>{% blocktrans trimmed %}The page you're looking for doesn't exist. Either the link you followed
is in error, or we have re-organised and broken a previously working link.{% endblocktrans %}</p>

<p>{% blocktrans %}If you'd like, you can go back to the <a href="/">home page</a>.{% endblocktrans %}</p>

{% endblock content %}
