{% load static %}{% load render_bundle from webpack_loader %}<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% if is_index %}muspy &ndash; Get Notified on New Album Release Dates{% else %}{% block title %}{% endblock %} &ndash; muspy{% endif %}</title>
  {% render_bundle "main" "css" %}
  <link rel="alternate" href="http://kojevnikov.com/muspy.xml" type="application/atom+xml" title="[muspy] Blog"/>
  {% if user.is_authenticated %}
    <link rel="alternate" href="/feed?id={{ user.username }}" type="application/atom+xml" title="[muspy] New Releases"/>{% endif %}
  {% block javascript %}{% endblock %}
</head>
<body>
  {% include "_navbar.html" %}

  {% block before_main_section %}{% endblock %}
  <section class="section">
    <div class="container">
      {% block email_confirmation %}
        {% if user.is_authenticated and not user.profile.email_activated and user.profile.notify %}
          <article class="message is-info">
            <div class="message-body">
              Please activate your email address. <a href="/activate">What's this about?</a>
            </div>
          </article>
        {% endif %}
      {% endblock %}
      {% if messages %}
        {% for message in messages %}
          <article class="message {{ message.tags }}">
            <div class="message-body">{{ message }}</div>
          </article>
        {% endfor %}
      {% endif %}
      {% if not is_index %}
        <h1 class="title">{% block header %}{% endblock %}</h1>
      {% endif %}
      {% spaceless %}
        <div class="content">{% block content %}{% endblock %}</div>
      {% endspaceless %}
    </div>
  </section>
  {% block below_main_section %}{% endblock %}
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <a href="/about">About</a>
        &bull; <a href="/faq">FAQ</a>
        &bull; <a href="/contact">Contact</a>
        &bull; <a href="https://github.com/alexkay/muspy/tree/master/api">API</a>
        &bull; <a href="https://github.com/alexkay/muspy">Code</a>
        &bull; <a href="http://kojevnikov.com/muspy.xml"><img src="{% static 'feed.png' %}" alt="RSS" title="Subscribe in a reader"/></a>
        <a href="http://kojevnikov.com/tag/muspy.html">Blog</a>
      </p>
    </div>
  </footer>
  {% render_bundle "main" "js" %}
  {% if not user.is_authenticated %}
    <script type="text/javascript">
      window.___gcfg = {lang: 'en-GB'};
      (function () {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
      })();
    </script>
    <script>!function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = "//platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
      }
    }(document, "script", "twitter-wjs");</script>
  {% endif %}
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>
</html>
