{% extends "base.html" %}
{% load static %}
{% block title %}Settings{% endblock %}
{% block header %}Settings{% endblock %}
{% block content %}

  {% if form.non_field_errors %}
    <article class="message is-danger">
      <div class="message-body">
        {% for error in form.non_field_errors %}
          {{ error }}{% if not forloop.last %}<br>{% endif %}
        {% endfor %}
      </div>
    </article>
  {% endif %}

  <form method="post" action="/settings">
    {% csrf_token %}

    <div class="field">
      <label class="label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
      <p class="help">{{ form.email.help_text }}</p>
      <div class="control has-icons-left has-icons-right">
        {{ form.email }}
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        {% if form.email.errors %}
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        {% endif %}
      </div>
      {% if form.email.errors %}
        <p class="help is-danger">
          {% for error in form.email.errors %}
            {{ error|escape }}{% if not forloop.last %}<br />{% endif %}
          {% endfor %}
        </p>
      {% endif %}
    </div>

    <div class="field">
      <label class="label" for="{{ form.new_password.id_for_label }}">{{ form.new_password.label }}</label>
      <div class="control has-icons-left has-icons-right">
        {{ form.new_password }}
        <span class="icon is-small is-left">
          <i class="fas fa-key"></i>
        </span>
        {% if form.new_password.errors %}
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        {% endif %}
      </div>
      {% if form.new_password.errors %}
        <p class="help is-danger">
          {% for error in form.new_password.errors %}
            {{ error|escape }}{% if not forloop.last %}<br />{% endif %}
          {% endfor %}
        </p>
      {% endif %}
    </div>

    <div class="field">
      <label class="label">Notifications</label>
      <div class="control">
        <label class="checkbox">
          {{ form.notify }}
          {{ form.notify.label }}
        </label>
      </div>
    </div>

    <div class="field">
      <label class="label">Track only these release types:</label>
      <div class="control">
        <label class="checkbox">
          {{ form.notify_album }}
          {{ form.notify_album.label }}
        </label>
      </div>
      <div class="control">
        <label class="checkbox">
          {{ form.notify_single }}
          {{ form.notify_single.label }}
        </label>
      </div>
      <div class="control">
        <label class="checkbox">
         {{ form.notify_ep }}
          {{ form.notify_ep.label }}
        </label>
      </div>
      <div class="control">
        <label class="checkbox">
          {{ form.notify_live }}
          {{ form.notify_live.label }}
        </label>
      </div>
      <div class="control">
        <label class="checkbox">
          {{ form.notify_compilation }}
          {{ form.notify_compilation.label }}
        </label>
      </div>
      <div class="control">
        <label class="checkbox">
          {{ form.notify_remix }}
          {{ form.notify_remix.label }}
        </label>
      </div>
      <div class="control">
        <label class="checkbox">
          {{ form.notify_other }}
          {{ form.notify_other.label }}
        </label>
      </div>
    </div>

    <input type="submit" value="Update settings" class="button"/>

  </form>
{% endblock content %}

{% block below_main_section %}
  <section class="hero is-danger">
    <div class="hero-body">
      <div class="container content">
        <h2>Delete account</h2>
        <form method="post" action="/delete">
          {% csrf_token %}
          <p>Click here to delete your muspy account and everything that goes with it.</p>
          <input type="submit" value="Delete account" class="button"/>
        </form>
      </div>
    </div>
  </section>
{% endblock %}

<script type="text/javascript">document.getElementById("id_email").focus();</script>
