{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block header %}Sign up{% endblock %}
{% block content %}

  {% if form.non_field_errors %}
    <article class="message is-danger">
      <div class="message-body">
        {% for error in form.non_field_errors %}
          {{ error }}{% if not forloop.last %}<br>{% endif %}
        {% endfor %}
      </div>
    </article>
  {% endif %}

  <form method="post" action="/signup">
    {% csrf_token %}

    <div class="field">
      <label class="label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
      <p class="help">{{ form.email.help_text }}</p>
      <div class="control has-icons-left has-icons-right">
        {{ form.email }}
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        {% if form.email.errors %}
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        {% endif %}
      </div>
      {% if form.email.errors %}
        <p class="help is-danger">
          {% for error in form.email.errors %}
            {{ error|escape }}{% if not forloop.last %}<br/>{% endif %}
          {% endfor %}
        </p>
      {% endif %}
    </div>

    <div class="field">
      <label class="label" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
      <p class="help">{{ form.password.help_text }}</p>
      <div class="control has-icons-left has-icons-right">
        {{ form.password }}
        <span class="icon is-small is-left">
          <i class="fas fa-key"></i>
        </span>
        {% if form.password.errors %}
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        {% endif %}
      </div>
      {% if form.password.errors %}
        <p class="help is-danger">
          {% for error in form.password.errors %}
            {{ error|escape }}{% if not forloop.last %}<br/>{% endif %}
          {% endfor %}
        </p>
      {% endif %}
    </div>
    <input type="submit" class="button" value="Sign up"/>
  </form>

  <p>Already a member? <a href="/signin">Sign in here</a>.</p>

{% endblock content %}

<script type="text/javascript">document.getElementById("id_username").focus();</script>
